<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <security>
      <requestFiltering>
        <!-- 128 MB uploads (match .htaccess limits for CSV import & ID uploads) -->
        <requestLimits maxAllowedContentLength="134217728" maxQueryString="8192" />
      </requestFiltering>
    </security>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="ALCROS Legacy track.php" stopProcessing="true">
          <match url="^track\.php$" ignoreCase="true" />
          <action type="Redirect" url="index.php" redirectType="Found" appendQueryString="true" />
        </rule>
        <rule name="ALCROS Legacy analytics.php" stopProcessing="true">
          <match url="^analytics\.php$" ignoreCase="true" />
          <action type="Redirect" url="report.php" redirectType="Found">
            <queryString>section=analytics</queryString>
          </action>
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <remove name="Composer Phar" />
    </handlers>
  </system.webServer>

  <location path="composer.phar">
    <system.webServer>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="composer.phar" />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

  <location path="composer-setup.php">
    <system.webServer>
      <security>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Deny" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>
